/**
 * Helper mixins
*/

// Clearfix
// http://www.cssmojo.com/latest_new_clearfix_so_far/
// Other clearfix options: https://github.com/stubbornella/oocss/blob/master/oocss/src/components/utils/_clearfix-me.scss
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin cards {
  width: 75vw;
  margin-top: 0;
  margin-left: 45px;
  max-width: 100%;
}

@mixin image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

// Media queries
@mixin bp($point) {
  @if $point == large {
    @media (min-width: 1280px) { @content; }
  } @else if $point == small {
    @media (max-width: 1279px) { @content; }
  }
}
