/* Main */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import 'base/base';

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Components */
@import 'header/header';
@import 'sidebar/sidebar';
@import 'main/main';

/* Browser specific styles */
@import 'dirty/hacks';

/* Demo styles */

html {
  font-size: 16px;
}

body {
  background: $body-background-color;
  color: $foreground-color;
  font-family: 'DINP-R', arial, serif;
  font-weight: 300;
  line-height: 1.6;
}
